extends layout

block content
	-var a = "id = " + id
	script!= a

	.container
		.header
			.content
				h1
					| 严寒地区村镇绿色建筑体系发展目标基础与应用调查问卷

		.main
			form#J_form(onsubmit='return false;',action='#')
				.clickoption
					.content
						.submit.box
							p
								| 提交
						.save.box
							p 
								| 保存
			
	script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
	script(src="/script/input.js")