doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title= title

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/component/icono.min.css')
        link(rel="stylesheet", href="/stylesheets/component/chosen.css")
        link(rel='stylesheet', href='/stylesheets/component/bootstrap.min.css')
        link(rel='stylesheet', href="/stylesheets/component/bootstrap-responsive.min.css")
        link(rel='stylesheet', href="/stylesheets/component/matrix-style.css")
        link(rel='stylesheet', href="/stylesheets/component/matrix-media.css")
        link(rel='stylesheet', href='/stylesheets/analyze.css')
    body
        #header
            h1
                a(href="")
                    | 严寒地区不同基质村镇绿色建筑体系发展目标与应用数据库

        #user-nav.navbar.navbar-inverse
            ul.nav
                li
                    a(href="/welcome")
                        span.text
                            | 首页
                li
                    a(href="/input/view/index")
                        span.text
                            | 录入
                li
                    a(href="/statistics/analyzelist")
                        span.text
                            | 分析
                li
                    a(href="/guide")
                        span.text
                            | 使用指南
                        
        #content
            #content-header
                #breadcrumb
                    a.tip-bottom(href="/statistics/analyzelist")
                        | 使用指南
            .list-body
                .border
                    .content(style="padding-top:4em")
                        pre(style="text-intent:2em")
                            | 严寒地区不同基质村镇绿色建筑体系发展目标基础与应用数据库是以村镇建筑基本信息为基础，针对不同特征村镇建筑环境特征，考虑建筑和规划管理、建筑设计、建筑施工以及建筑使用等多系统层次的需要，建立数据库平台，采用量化手段动态、系统、全面的对村镇建筑信息进行管理，辅助村镇绿色建筑标准、导则和绿色建筑体系的研究，控制指导村镇绿色建筑的管理、设计、施工甚至使用。
                        pre
                            | 为了使建筑信息便于录入数据库进行数理分析，数据库依据建筑特征将建筑信息进行编码，用户可以根据调研收集的资料与数据库中已设定的信息参数进行比对，选择能正确描述现状信息的一项。例如对某建筑的屋顶信息进行录入，在数据库录入界面中找到“屋顶”一项，在各子项下拉菜单中选择对应的数据信息，以此类推将该建筑所包含的各项信息录入数据库并保存。数据库在进行数据录入操作时，请勿多人同时编辑同一个对象，以免造成系统错误。
                        pre 
                            | 对已输入的村镇基本信息、建筑外部环境信息、建筑外部特征与室内环境信息、能源与资源利用信息等进行统计与评价分析。将结果与预先装入数据库内的严寒地区村镇绿色建筑评价标准进行对比，针对评价结果较差的项，结合严寒地区村镇绿色建筑实施导则相关内容给出符合不同基质村镇建设需求的指导建议与参考案例。
                        pre
                            | 此外，数据库还可以从环境保护、资源节约、过程管理三个方面对严寒地区村镇建筑施工进行指导，对已建成建筑在管理制度、技术管理、环境管理三个方面提出有针对性的运行管理建议。
                        
            footer
                .pic
                    img(src="/logo.jpg")
                .content
                    p
                        | 版权所有：哈尔滨工业大学建筑学院城乡规划研究所 | 哈尔滨工业大学
                    p
                        | 本软件由“十二五”国家科技计划课题严寒地区绿色村镇体系建构与评价及关键技术（2013BAJ12B01）提供支持
                    p
                        | Copyright 2015 Urban and Town Planning Institute, School of Architecture HIT
        

        script(src="/script/excanvas.min.js")
        script(src="/script/jquery.min.js")
        script(src="/script/jquery.ui.custom.js")
        script(src="/script/bootstrap.min.js")
        script(src="/script/matrix.js")
            

