doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title= title

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/component/icono.min.css')
        link(rel="stylesheet", href="/stylesheets/component/chosen.css")
        link(rel='stylesheet', href='/stylesheets/component/bootstrap.min.css')
        link(rel='stylesheet', href="/stylesheets/component/bootstrap-responsive.min.css")
        link(rel='stylesheet', href="/stylesheets/component/matrix-style.css")
        link(rel='stylesheet', href="/stylesheets/component/matrix-media.css")
        link(rel='stylesheet', href='/stylesheets/analyze.css')
    body
        #header
            h1
                a(href="")
                    | 严寒地区不同基质村镇绿色建筑体系发展目标与应用数据库

        #user-nav.navbar.navbar-inverse
            ul.nav
                li
                    a(href="/welcome")
                        span.text
                            | 首页
                li
                    a(href="/input/view/index")
                        span.text
                            | 录入
                li
                    a(href="/statistics/analyzelist")
                        span.text
                            | 分析
                li
                    a(href="/guide")
                        span.text
                            | 使用指南
                        
        #content
            #content-header
                #breadcrumb
                    a.tip-bottom(href="/statistics/analyzelist")
                        | 使用指南
            .list-body
                .border
                    .content
                        
            footer
                .pic
                    img(src="/logo.jpg")
                .content
                    p
                        | 版权所有：哈尔滨工业大学建筑学院城乡规划研究所 | 哈尔滨工业大学
                    p
                        | 本软件由“十二五”国家科技计划课题严寒地区绿色村镇体系建构与评价及关键技术（2013BAJ12B01）提供支持
                    p
                        | Copyright 2015 Urban and Town Planning Institute, School of Architecture HIT
        

        script(src="/script/excanvas.min.js")
        script(src="/script/jquery.min.js")
        script(src="/script/jquery.ui.custom.js")
        script(src="/script/bootstrap.min.js")
        script(src="/script/matrix.js")
            

