extends layout

block content
	.container
		.header
			.content
				h1
					| 严寒地区村镇绿色建筑体系发展目标基础与应用数据录入系统
		
		#addform
			.icono-plus

		.main#formlist
			.contentlist

	script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
	script(src="/script/index.js")