// 输入页面
extends layout

block content
	.container
		.main
			form#J_form
			
	.clickoption
		.content
			.submit.box
				p
					| 提交
			.save.box
				p
					| 保存

	script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
	script(src="/script/input.js")
