doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/component/icono.min.css')
    link(rel="stylesheet", href="/stylesheets/component/chosen.css")
  body
    block content
