//
   Created by liu on 15/10/24.



script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
script(src="script/test.js")

h2 System Testing
- list= testlist
each t in testlist
   p= t
div(id="testbox")