//- welcome.jade 
doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title= title
        link(rel='stylesheet', href='/stylesheets/welcome.css')
    body
        .title
            h1
               | 严寒地区不同基质村镇绿色建筑体系发展目标与应用数据库
        a.start(href="/input/view/index")
            span
                | 点击进入
        footer
            .pic
                img(src="/logo.jpg")
            .content
                p
                    | 版权所有：哈尔滨工业大学建筑学院城乡规划研究所 | 哈尔滨工业大学
                p
                    | 本软件由“十二五”国家科技计划课题严寒地区绿色村镇体系建构与评价及关键技术（2013BAJ12B01）提供支持
                p
                    | Copyright 2015 Urban and Town Planning Institute, School of Architecture HIT