@import url(./component/fn.less);
@import url(./component/size.less);

body{
    padding: 0;
}
#content{
    width: 100%;
    margin: 0;
    footer{
        top: 81%;
        width: 1000px;
        margin-left: 50%;
        left: -500px;
        .pic{
            float: left;
            width: 20%;
        }
        .content{
            float: right;
            width: 70%;
            p{
                margin: .25em;
            }
        }
    }
}
.border{
    width: 100%;
    .content{
        width: 1000px;
        margin: 0px auto;
        table{
            width: 100%;
            border: 2px solid #000;
            tr{
                border: 1px solid #777;
                td{
                    border: 1px solid #777;
                    .colnum{
                        width: 100%;
                        .box{
                            width: 100px;
                            height: 20px;
                            float: left;
                            .percent{
                                background: #333;
                                height: 20px;
                            }
                        }
                        .ratename{
                            float: left;
                            width: 100px;
                            margin-right: 10px;
                        }
                        .ratevalue{
                            float: left;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

.bodercast{
    top: 0;
    position: fixed;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    .box{
        margin: 100px auto;
        width: 400px;
        background: #fff;
        border: 2px solid #777;
        .close{
            width: 100%;
            height: 20px;
            border-bottom: 1px solid #aaa;
            a{
                float: right;
                font-size: 16px;
                margin:5px;
                cursor: pointer;
            }
        }
        .content{
            width: 100%;
            pre{
                width: 80%;
                margin: 10px 10%;
                height: auto;
                white-space: pre-wrap;      
                white-space: -moz-pre-wrap; 
                white-space: -o-pre-wrap;   
                word-wrap: break-word;
                text-indent: 2em;
            }
        }
    }
}

