body {
  padding: 0;
}
#content {
  width: 100%;
  margin: 0;
}
#content footer {
  top: 80%;
  width: 1000px;
  margin-left: 50%;
  left: -500px;
}
#content footer .pic {
  float: left;
  width: 20%;
}
#content footer .content {
  float: right;
  width: 70%;
}
.border {
  width: 100%;
}
.border .content {
  width: 1000px;
  margin: 0px auto;
}
.border .content table {
  width: 100%;
  border: 2px solid #000;
}
.border .content table tr {
  border: 1px solid #777;
}
.border .content table tr td {
  border: 1px solid #777;
}
.bodercast {
  top: 0;
  position: fixed;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
}
.bodercast .box {
  margin: 100px auto;
  width: 400px;
  background: #fff;
  border: 2px solid #777;
}
.bodercast .box .close {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #aaa;
}
.bodercast .box .close a {
  float: right;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}
.bodercast .box .content {
  width: 100%;
}
.bodercast .box .content pre {
  width: 80%;
  margin: 10px 10%;
  height: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  text-indent: 2em;
}
