body {
  margin: 0;
  padding: 0;
}
.head {
  width: 100%;
  height: 150px;
  background: #334455;
}
.head h1 {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  margin: 0;
}
.border {
  width: 100%;
}
.border .content {
  width: 1000px;
  margin: 0px auto;
}
.border .content h3 small {
  margin-left: 20px;
}
.border .content p {
  width: 95%;
  margin-left: 5%;
}
.border .content pre {
  width: 95%;
  margin-left: 5%;
  height: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  text-indent: 2em;
  border: 1px solid #000;
}
