@import url(./component/fn.less);
@import url(./component/size.less);

html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}

// edit页面
#sidebar{
	#sidebar-submit{
		width: 100%;
		height: 50px;
		position: absolute;
		top: 80%;
		.box{
			cursor: pointer;
			width: 100px;
			height: 100%;
			margin: 0 auto;
			background: #27a9e3;
			.transition(all .1s ease-in-out);
			h3{
				text-align: center;
				color: white;
				font-size: 16px;
				margin: 0;
				line-height: 50px;
			}
			&:active{
				.transform(scale(.5));
			}
		}
	}
}

#content-body{
	width: 100%;
	height: 500px;
	overflow-y: scroll;
	.block{
		display: none;
		width: 100%;
	}
	.show{
		display: block;
	}
	.container{
		width: 80%;
		margin: 0 auto;
		.clickoption{
			position: fixed;
			height: 100px;
			width: 200px;
			left: 80%;
			top: 500px;
			text-align: center;
			.content{
				float: right;
				width: 200px;
				.box{
					width: 60px;
					height: 40px;
					display: inline-block;
					text-align: center;
					margin: 10px;
					.transition(all .1s ease-in-out);
					&:active{
						.transform(scale(.8));
					}
					p{
						color: #fff;
						line-height: 40px;
					}
				}
				.save{
					background: #777;
				}
			}
		}
	}

	form{
		.list{
			width: 100%;
			height: 70px;
			margin: 0;
			padding: 0;
			float: left;
			.note{
				width: 30%;
				float: left;
				font-size: 13px;
			}
			.shuru{
				width: 70%;
				float: left;
				input{
					height: 20px;
					width: 30%;
					font-size: 13px;
					&[type = 'radio']{
						width: 20px;
						margin: 5px 5px;
						padding: 5px;
					}
					&[type = 'checkbox']{
						width: 20px;
						margin: 5px 5px;
						padding: 5px;
					}
				}
				select{
					width: 30%;
				}
				.s_show{
					width: 30%;
					float: left;
					select{
						width: 100%;
						option{
							width: 100%;
							height: 10px;
							div{
								width: 100%;
								height: 100%;
							}
						}
					}
				}
				.otherdata{
					width: 20%;
					height: 20px;
					font-size: 12px;
					margin-left: 10px;
					display: none;
					vertical-align: top;
				}
			}
		}
		
	}
}

// index页面
.everymodel{
	width: 100%;
	height: auto;
	.header{
		width: 100%;
		height: 200px;
		background: #666;
		.content{
			width: 1000px;
			height: 50px;
			margin: 0 auto;
			padding: 75px 0;
			text-align: center;
			h1{
				color: #fff;
			}
		}
	}
	.main{
		width: 80%;
		margin: 0 auto;
	}
}
#addform{
	width: 100px;
	height: 100px;
	margin: 50px auto;
	background: #27a9e3;
	.transition(all .1s ease-in-out);
	&:active{
		.transform(scale(.8));
	}
	.icono-plus{
		margin: 35px;
	}
}
#formlist{
	margin: 100px auto;
	.contentlist{
		width: 100%;
		border: 1px solid #ddd;
		.container{
			width: 100%;
			height: 50px;
			.id{
				width: 10%;
				height: 100%;
				margin: 0;
				text-align: center;
				float: left;
			}
			.title{
				width: 70%;
				height: 100%;
				margin: 0;
				padding-left: 30px;
				text-align: left;
				float: left;
			}
			.exchange{
				width: 10%;
				height: 100%;
				margin: 0;
				float: left;
				a{
					width: 60px;
					height: 30px;
					margin: 5px;
					padding-top: 10px;
					font-size: 16px;
					background: #555;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					color: #fff;
					.transition(all .1s ease-in-out);
					&:active{
						color: #fff;
						.transform(scale(.5))
					}
					&:hover{
						color: #fff;
					}
					&:link{
						color: #fff;
					}
				}
			}
		}
	}
}