body {
  margin: 0;
  height: 0;
  background: #27a9ff;
}
body .title {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 150px;
}
body .start {
  position: absolute;
  width: 200px;
  height: 100px;
  margin: 100px auto;
  margin-left: 50%;
  left: -100px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
}
body .start span {
  line-height: 100px;
  text-align: center;
  font-size: 24px;
}
body .start:active {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
body .start:hover {
  background: #fff;
  color: #27a9ff;
}
body footer {
  position: absolute;
  top: 81%;
  width: 1000px;
  margin-left: 50%;
  left: -500px;
}
body footer .pic {
  float: left;
  width: 20%;
  margin-top: 20px;
}
body footer .pic img {
  float: right;
  margin-right: 20px;
}
body footer .content {
  float: right;
  width: 80%;
}
body footer .content p {
  margin: .25em;
  color: #fff;
}
