@import url(./component/fn.less);

body{
    margin: 0;
    height: 0;
    background: rgb(39, 169, 277);
    .title{
        width: 100%;
        text-align: center;
        color: #fff;
        margin-top: 150px;
    }
    .start{
        position: absolute;
        width: 200px;
        height: 100px;
        margin: 100px auto;
        margin-left: 50%;
        left: -100px;
        .transition(all .2s ease-in-out);
        text-align: center;
        text-decoration: none;
        color: #fff;
        border: 2px solid #fff;
        span{
            line-height: 100px;
            text-align: center;
            font-size: 24px;
        }
        &:active{
            .transform(scale(.5));
        }
        &:hover{
            background: #fff;
            color: rgb(39, 169, 277);
        }
    }
    footer{
        position: absolute;
        top: 81%;
        width: 1000px;
        margin-left: 50%;
        left: -500px;
        .pic{
            float: left;
            width: 20%;
            margin-top: 20px;
            img{
                float: right;
                margin-right: 20px;
            }
        }
        .content{
            float: right;
            width: 80%;
            p{
                margin: .25em;
                color: #fff;
            }
        }
    }
}